
services=solr:all
service.displayname=Solr
service.command.start={{solr_home}}/solr-{{solr_version}}/solr4init start

service.command.stop={{solr_home}}/solr-{{solr_version}}/solr4init stop
service.command.type=BACKGROUND
service.command.monitorcommand={{solr_home}}/solr-{{solr_version}}/solr4init status
service.port=8983
service.ui.port=8983
service.uri=about
service.logs.location={{solr_home}}/solr-{{solr_version}}/logs
service.process.type=JAVA
service.alarm.label=SolrAlarm
service.alarm.tersename=solr
service.uri: /solr
service.port: 8983
service.ui.port: 8983
